body{
    font-family: Arial, sans-serif;
}

.hero{
    background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("https://picsum.photos/1920/900");

    background-size: cover;
    background-position: center;
    color: white;
    padding: 150px 0;
}

.hero h1{
    font-size: 55px;
    font-weight: bold;
}

.hero p{
    font-size: 20px;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

footer{
    margin-top: 40px;
}